:root {
    /* CSS HEX Color Palette https://coolors.co/palette/edf2f4-d9ffed-009874-043f4b-222332 */
    --seasalt: #f8f8f8;
    --hunyadi-yellow: #f3bf67;
    --pomp-and-power: #896795;
    --verdigris: #659c97;
    --space-cadet: #191E39;
    --antiflash-white: #edf2f4ff;
    --raisin-black: #222332ff;

    --verdigris-light: #79b8b2;
    --charcoal-grey: #2e2e2e;
    --dark-charcoal: #111111;
    --medium-grey: #494949;

}