@import "./styles/colors.css";

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-charcoal); /* Black background for all pages */
  color: var(--seasalt); /* White text color for all pages */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.PageContainer {
  margin: 0 auto;
  max-width: 100%; /* Consistent layout across all pages */
}

/* Grid layout for ContentElement components */
.content-grid {
  display: grid;
  gap: 10px; /* Space between grid items */
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Creates a responsive grid */
  justify-items: center; /* Centers content within each grid item */
  margin-top: 30px;
}

.intro-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-weight: 420;
}

/* Global styles for all links */
a {
  color: var(--verdigris);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  color: var(--verdigris);
  text-shadow: 0 0 1px var(--verdigris), 0 0 1px var(--verdigris);
  /* text-decoration: underline;
  text-underline-offset: 4px; */
}

/* Active links (when clicked) */
a:active {
  color: var(--verdigris); /* Keeps the hover color when clicked */
}
